:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-card{
    display: flex;
    flex-direction: column;
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.img-prev {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.thumb{
    width:250px;
    height: 180px;
}

.thumb > img {
    display: block;
    height: 100%;
    width: 100%;
  
    object-fit: cover;
}

.card-atribute{
    justify-content: space-between;
}

.hits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item{
    font-size: 13px;
    text-align: center;
}

.is-hidden{
    display: none;
}